@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,400italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);

body {
    /* doc overflow-x : https://www.w3schools.com/cssref/css3_pr_overflow-x.asp */
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color: green;
}


a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

/*------------------------------------------------*/
/* Start Top Navbar Section                           */
/*------------------------------------------------*/

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    /* couleur "nom compagnie" du header : surcharge la couleur définie dans bootstrap */
    /* color: blue; */

}

/* menu navbar sur smartphone */
.navbar-default .navbar-collapse {
    border-color: yellow;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    font-size: 12px;
}


.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        -o-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
    }

    /* EFFET AJOUTE AU POINT D4ACCROCHE LORSQUE SCROL DETECTE */

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: red;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
    
}

