* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
  }
  body {
    font-family: Arial;
  }
  form {
    padding: 8px;
  }
  form p {
    padding: 4px 8px;
    line-height: 32px;
  }
  form p label {
    display: inline-block;
    width: 120px;
    height: 32px;
  }
  form p input {
    display: inline-block;
    width: 200px;
    padding: 0 8px;
    height: 32px;
    border: 1px solid #ddd;
    font: inherit;
  }
  .input-password {
    display: inline-block;
    background: red;
  }
  .input-password button {
    position: absolute;
    right: 0;
    top: 0;
    height: 32px;
    width: 32px;
    font: inherit;
    background: #ddd url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABMUlEQVQ4jdXSO0vcQRQF8J9mfQtxEdIZsEzvo/FDxFURLK0sBJ8fQFC0sNFKCCIWCVhKWhGRBQuFqEUQMfiANIqPStBC/yn2LvxZwWxh44Fh5s6cc+eemct7QSW6kSmHXIFOTGAhxjckmP2fuBtHQX5CHlcRP6I1LniBGqziDie4RTsGsB8J5oM7jGVUFcUZ/MQhWvAXk1gKYYIbNKE+qviN9dCawR80R8JnjOMylWAkzuZi/oRTTAtvX1N2jlPCJCxVx82/Urw+3MMK9qI8GCpJkIv9NQzGuhEHYVMDdrEZPivwPcT5iNswFesstrGD2mI5WWzhHD3xoAk64rxaoZlyuMAGPipBBmMKX5ngR+x3KTTSGa4xig+l4jQu8IDPEc9jEb2oe01YxBf0l0N8E/wD8JpJU3vEaLcAAAAASUVORK5CYII=) center center no-repeat;
    border: none;
  }
  .input-password button.visible {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABCElEQVQ4jd3SvyvFYRQG8A+u4mLQLZuU/Av8G0QWG1ksiqvsDIzuxJ1kMJssUsQmhfIjPxKxID8Gg+W6hnu+dd1ud5annuE95zzPOe95X/4l6tCHLJaCWfRGrqZwEOcoooB9PMe5iDMMVBM3Yx3vuMZbdBzBUZnBJT6whqZE3IgtnKATj5jBcpkw4T26cIpNpGARN8iEYRHTeKpiUIiaDtxiHr4q7nVVRZjwoqxuGJ+wikOkIzFRw2A8alpxjDy0xaJ20K70Ggv4rhh9LnIZ7OEALck4GeziDv2oRw/GMIruiA3iAdvR7BdSmMJrLGgFs8F8mL9gEg2V4nKkY0E5bARzGFL6L38MP38dUzEtmyxNAAAAAElFTkSuQmCC);
    background-color: #aaa;
  }
  .small {
      color: #999;
      font-size: 14px;
      font-style: italic;
  }